<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script>
    <script type="text/javascript">
        var fname,lname,reply,country,email,zipCode;
        var stateName = '';
        var cityName = '';
        var s=0;
        function Compare(strA,strB){
    for(var result = 0, i = strA.length; i--;){
        if(typeof strB[i] == 'undefined' || strA[i] == strB[i]);
        else if(strA[i].toLowerCase() == strB[i].toLowerCase())
            result++;
        else
            result += 4;
    }
    return 1 - (result + 4*Math.abs(strA.length - strB.length))/(2*(strA.length+strB.length));
}
function ask(inputid, outputid)
{
    var textin = document.getElementById(inputid);
    var reply = textin.value;
    if(reply.length==0){
        response="nigga enter something";
        return;
    }
    var log = document.getElementById(outputid);
    switch (s)
    {
        case 0:{
            names=reply.split(" ");
            if(names.length==1) {
                response = names[0] + " is your first name. What's your last name?";
                fname = names[0];
                s=1;
            }
            else{
                response="May I know your email?";
                fname=names[0];
                lname=names[1];
                s=2;
            }
            break;
        }
        case 1:{
            response="May I know your email?";
            lname=reply;
            s=2;
            break;
        }
        case 2:{
            var p=/(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)/;
            if(p.test(reply))
            {
                s=3;
                response="What is your zipcode?";
                email=reply;
            }
            else{
                response="I have years of experience doing this.You have entered invalid email.Enter again";
            }
            break;
        }
        case 3:{
            response="All done";
            s=4;
            zipCode=reply
            break;
        }
        case 4:{
            var geocoder = new google.maps.Geocoder();

            geocoder.geocode({ 'address': zipCode  }, function (result, status) {


            var addressComponent = result[0]['address_components'];

            var stateQueryable = $.grep(addressComponent, function (x) {
              return $.inArray('administrative_area_level_1', x.types) != -1;
            });
            var countryQueryable = $.grep(addressComponent, function (x) {
              return $.inArray('country', x.types) != -1;
            });

            if (stateQueryable.length) {
                stateName = stateQueryable[0]['long_name'];

                var cityQueryable = $.grep(addressComponent, function (x) {
                return $.inArray('locality', x.types) != -1;
            });

            if (cityQueryable.length) {
                cityName = cityQueryable[0]['long_name'];
            }
            if (countryQueryable.length) {
                country = countryQueryable[0]['long_name'];
            }
          }
          alert(stateName);
          alert(cityName);
          alert(country);
      });
            alert(fname+lname+email+zipCode);
        }
    }

    textin.value="";
    log.innerHTML=response;
    }
</script>
</head>
<body>
    <div id="log" >
        <p >What is your name?</p>
    </div>

        <p>
            <input id="textin" type=text name=input style="width:300px;" />
            <button id="btn" onclick="ask('textin','log')">GO</button>
        </p>

</body>
</html>